p{display: inline-flex;}
table{border: solid black 1px;padding: 10px 10px 10px 10px;background-color: blanchedalmond;display: inline-flex;}
td{border-top: solid black 1px;border-bottom: solid black 1px;}